/*
Dinosaur Project
gameAesthetics.css
Will hold most of the aesthetics that will be used for the site that holds the dinosaur game.
*/

/* bring canvas and text closer to middle of screen */
.container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

/* center and style main text */
body {
    font-family: 'Andale Mono', monospace;
    text-align: center;
}

/* canvas the game will be visible in */
#board {
    background-color: lightgray;
  /*  border-top-width: 1px;
    border-top-style: solid;
    border-top-color: black;
    border-right-width: 1px;
    border-right-style: solid;
    border-right-color: black;
    border-left-width: 1px;
    border-left-style: solid;
    border-left-color: black;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-bottom-color: black;

/* ground */
    /*border-bottom: 10px solid gray;
}